{% extends "_layout/base.html" %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">Generate anagrams from your name!</h1>
    <p class="lead">Maybe you can come up with a fancy pen name?</p>
    <form id="anagramsForm">
    <div class="form-group">
      <label for="fullname">Full name</label>
      <input type="fullname" class="form-control" id="fullname" aria-describedby="fullnameHelp" placeholder="Enter a full name.">
      <small id="fullnameHelp" class="form-text text-muted">We do not log anything.</small>
    </div>
    <button type="submit" class="btn btn-outline-primary active">Check your anagrams!</button>
</form>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center" id="results">
  </div>
</div>

{% endblock %}
